/* Makes right sidebar to store name, contact information, etc. */
.name {
  border: 2px solid black;
  padding: 5px;
  display: block;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 20%;
  box-sizing: border-box;
  float: right;
  text-align: center;
}

/* Makes block for About Me section */
.aboutMe {  
  border: 2px solid black;
  padding-left: 10px;
  padding-right: 10px;
  display: block;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 79%;
  box-sizing: border-box;
  float: left;
}
.aboutMe h2 {
  text-align: center;
}



.background {
  border: 0px solid black;
  padding-left: 10px;
  display:block;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width:100%;
  box-sizing: border-box;
  float:right;
  text-align: left;
}

.skills {
  border: 0px solid black;
  padding-left: 10px;
  display:block;
  margin: auto;
  margin-top: 10x;
  margin-bottom: 10px;
  width:100%;
  box-sizing: border-box;
  text-align: left;
}

.hobbies{
  border: 0px solid black;
  display:block;
  margin: auto;
  margin-top: 10x;
  margin-bottom: 10px;
  width:100%;
  box-sizing: border-box;
  text-align: left;
}

.hobbies h1 {
  padding-left: 10px;
}

.githubProjects {
  border: 0px solid black;
  display:block;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 50%;
  box-sizing: border-box;
  float: left;
}

.githubProjects h1 {
  text-align: center;
}

